<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>NC Dentist (Capstone Project)</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/page.css' %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/">NC Dentists</a></h1>
    </div>
    <div class="map"><a href="https://public.tableau.com/profile/stephen.e.buchenberger#!/vizhome/NCDentistNumerics/Sheet2" class="Tableau">
       <img src="/static/images/map.png" alt="see map">
        <span class="hidden-phone"><i class="fa fa-user-plus"></i></span></a>

    </div>
    <div class="info">
        <h2>This is a College CTIS Capstone project that portrays information on North Carolinian Dental professionals. The table below is a search for dental professionals that have NC Dental licenses as of 2017. Click the image above to see an interactive map that shows data based on the census and data from the NC Board of dental examiners.
        This project was created by Stephen Buchenberger.</h2>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>